In [5]:
import pandas as pd

# a = pd.read_csv('.\\res\\academicfieldname.csv', encoding='utf-8')
a = pd.read_excel('res/academicfieldname.xlsx', 
                  dtype='str')

In [6]:
a.shape

(1126, 4)

In [7]:
a.dropna(how='all', inplace=True)
a.fillna('', inplace=True)

In [8]:
a.shape

(1120, 4)

In [9]:
for index, row in a.iterrows():
     pass
print(index)
print(row)

1125
รหัส                              916407
ชื่อสาขา                     วัฒนธรรมจีน
ชื่อสาขา (ภาษาอังกฤษ)    Chinese Culture
หมวดหมู่                           อื่นๆ
Name: 1125, dtype: object

In [11]:
a.head()

,รหัส,ชื่อสาขา,ชื่อสาขา (ภาษาอังกฤษ),หมวดหมู่
0,0101,คณิตศาสตร์ทั่วไป,General Mathematics,วิทยาศาสตร์ธรรมชาติ
1,0102,ตรรกศาสตร์เชิงคณิตศาสตร์ และพื้นฐาน,Mathematical Logic and Foundation,วิทยาศาสตร์ธรรมชาติ
2,0103,ศาสตร์เชิงการจัด,Combinatorics,วิทยาศาสตร์ธรรมชาติ
3,010301,ทฤษฎีกราฟ,Graph Theory,วิทยาศาสตร์ธรรมชาติ
4,0104,คณิตศาสตร์,,วิทยาศาสตร์ธรรมชาติ

In [24]:
from res.fixwords import uni

In [27]:
for k in uni:
    print(k)

มหาวิทยาลัยคริสเตียน
จุฬาลงกรณ์มหาวิทยาลัย
มหาวิทยาลัยรังสิต
สถาบันเทคโนโลยีแห่งเอเชีย
มหาวิทยาลัยศรีปทุม
มหาวิทยาลัยรามคำแหง
สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ
สถาบันรัชต์ภาคย์
มหาวิทยาลัยฟาฏอนี
มหาวิทยาลัยหอการค้าไทย
มหาวิทยาลัยกรุงเทพ
มหาวิทยาลัยเทคโนโลยีมหานคร
มหาวิทยาลัยกรุงเทพธนบุรี
มหาวิทยาลัยอีสเทิร์นเอเชีย
มหาวิทยาลัยขอนแก่น
มหาวิทยาลัยชินวัตร
มหาวิทยาลัยธุรกิจบัณฑิตย์
มหาวิทยาลัยนราธิวาสราชนครินทร์
มหาวิทยาลัยนอร์ท-เชียงใหม่
มหาวิทยาลัยนานาชาติเอเชีย-แปซิฟิก
มหาวิทยาลัยปทุมธานี
มหาวิทยาลัยพายัพ
มหาวิทยาลัยพิษณุโลก
มหาวิทยาลัยรัตนบัณฑิต
มหาวิทยาลัยวงษ์ชวลิตกุล
มหาวิทยาลัยสยาม
มหาวิทยาลัยสวนดุสิต
มหาวิทยาลัยหัวเฉียวเฉลิมพระเกียรติ
มหาวิทยาลัยหาดใหญ่
มหาวิทยาลัยอัสสัมชัญ
มหาวิทยาลัยเกริก
มหาวิทยาลัยเกษมบัณฑิต
มหาวิทยาลัยเชียงใหม่
มหาวิทยาลัยเซนต์จอห์น
มหาวิทยาลัยเอเชียน
มหาวิทยาลัยเอเชียอาคเนย์
มหาวิทยาลัยแม่โจ้
วิทยาลัยอาชีวศึกษาโปลีเทคนิคภาคตะวันออกเฉียงเหนือ
มหาวิทยาลัยเกษตรศาสตร์
มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี
มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย
มหาวิทยาลัยเทคโนโลยีราชมงคลกรุงเทพ
มหาวิทยาลัยเทคโนโลยีราชมงคลตะวันออก
มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี
มหาวิทยาลัยเทคโนโลยีราชมงคลพระนคร
มหาวิทยาลัยเทคโนโลยีราชมงคลรัตนโกสินทร์
มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา
มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน
มหาวิทยาลัยเทคโนโลยีราชมงคลสุวรรณภูมิ
มหาวิทยาลัยทักษิณ
มหาวิทยาลัยเทคโนโลยีสุรนารี
มหาวิทยาลัยนเรศวร
มหาวิทยาลัยราชภัฏอุดรธานี
มหาวิทยาลัยบูรพา
มหาวิทยาลัยแม่ฟ้าหลวง
มหาวิทยาลัยมหาสารคาม
มหาวิทยาลัยราชภัฏกำแพงเพชร
มหาวิทยาลัยราชภัฏอุบลราชธานี
มหาวิทยาลัยราชภัฏเพชรบูรณ์
มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
มหาวิทยาลัยราชภัฏหมู่บ้านจอมบึง
มหาวิทยาลัยราชภัฏจันทรเกษม
มหาวิทยาลัยราชภัฎนครปฐม
มหาวิทยาลัยราชภัฏนครราชสีมา
มหาวิทยาลัยราชภัฏนครสวรรค์
มหาวิทยาลัยราชภัฏบุรีรัมย์
มหาวิทยาลัยราชภัฏพระนคร
มหาวิทยาลัยราชภัฏพระนครศรีอยุธยา
มหาวิทยาลัยราชภัฏพิบูลสงคราม
มหาวิทยาลัยราชภัฏภูเก็ต
มหาวิทยาลัยราชภัฏราชนครินทร์
มหาวิทยาลัยราชภัฏวไลยอลงกรณ์
มหาวิทยาลัยราชภัฏสกลนคร
มหาวิทยาลัยราชภัฏสงขลา
มหาวิทยาลัยราชภัฏสุราษฎร์ธานี
มหาวิทยาลัยราชภัฎสุรินทร์
มหาวิทยาลัยราชภัฏเทพสตรี
มหาวิทยาลัยราชภัฏอุตรดิตถ์
มหาวิทยาลัยราชภัฏเชียงราย
มหาวิทยาลัยราชภัฏเชียงใหม่
มหาวิทยาลัยราชภัฏเพชรบุรี
มหาวิทยาลัยราชภัฏเลย
มหาวิทยาลัยราชภัฏกาญจนบุรี
มหาวิทยาลัยกาฬสินธุ์
มหาวิทยาลัยราชภัฏชัยภูมิ
มหาวิทยาลัยราชภัฏธนบุรี
มหาวิทยาลัยราชภัฎมหาสารคาม
มหาวิทยาลัยราชภัฏรำไพพรรณี
มหาวิทยาลัยราชภัฏลำปาง
มหาวิทยาลัยราชภัฏศรีสะเกษ
มหาวิทยาลัยราชภัฏสวนสุนันทา
มหาวิทยาลัยสุโขทัยธรรมาธิราช
มหาวิทยาลัยวลัยลักษณ์
มหาวิทยาลัยศิลปากร
มหาวิทยาลัยศรีนครินทรวิโรฒ
มหาวิทยาลัยสงขลานครินทร์
มหาวิทยาลัยอุบลราชธานี
วิทยาลัยเซนต์หลุยส์
สถาบันเทคโนโลยีไทย-ญี่ปุ่น
สถาบันการจัดการปัญญาภิวัฒน์
สถาบันวิชาการปัองกันประเทศ
สถาบันพัฒนาบุคลากรท้องถิ่น
มหาวิทยาลัยธรรมศาสตร์
มหาวิทยาลัยมหิดล
สถาบันบัณฑิตพัฒนบริหารศาสตร์
มหาวิทยาลัยราชพฤกษ์

In [53]:
unis = pd.DataFrame({'ชื่อ':list(uni.keys()), 'ชื่ออังกฤษ':'', 'ชื่อย่อ':'', 'ชื่อย่ออังกฤษ':''})
unis.to_excel("res/universitylist.xlsx", index=None)

In [12]:
b = pd.read_excel('res/universitylist.xlsx', 
                  dtype='str')

In [14]:
b.head()

                        ชื่อ ชื่ออังกฤษ ชื่อย่อ ชื่อย่ออังกฤษ
0       มหาวิทยาลัยคริสเตียน        NaN     NaN           NaN
1      จุฬาลงกรณ์มหาวิทยาลัย        NaN     NaN           NaN
2          มหาวิทยาลัยรังสิต        NaN     NaN           NaN
3  สถาบันเทคโนโลยีแห่งเอเชีย        NaN     NaN           NaN
4         มหาวิทยาลัยศรีปทุม        NaN     NaN           NaN

In [9]:
import pandas as pd
import numpy as np

a=pd.read_csv('res/readerlist.csv')
a.fillna('', inplace=True)

In [10]:
np.unique(a['มหาวิทยาลัย'].values)

array(['', 'กรมการแผนที่', 'กระทรวงต่างประเทศ', 'กองบัญชาการ ทหารสูงสุด',
       'จุฬาลงกรณ์มหาวิทยาลัย', 'มทร.เลย', 'มหาลัยขอนแก่น',
       'มหาลัยธรรมศาสตร์', 'มหาลัยหอการค้าไทย', 'มหาวิทยาลัยกรุงเทพ',
       'มหาวิทยาลัยกรุงเทพธนบุรี', 'มหาวิทยาลัยกาฬสินธุ์',
       'มหาวิทยาลัยขอนแก่น', 'มหาวิทยาลัยคริสเตียน', 'มหาวิทยาลัยชินวัตร',
       'มหาวิทยาลัยทักษิณ', 'มหาวิทยาลัยธรรมศาสตร์',
       'มหาวิทยาลัยธุรกิจบัณฑิตย์', 'มหาวิทยาลัยนราธิวาสราชนครินทร์',
       'มหาวิทยาลัยนอร์ท-เชียงใหม่', 'มหาวิทยาลัยนานาชาติเอเชีย-แปซิฟิก',
       'มหาวิทยาลัยนิด้า', 'มหาวิทยาลัยนเรศวร', 'มหาวิทยาลัยบูรพา',
       'มหาวิทยาลัยปทุมธานี', 'มหาวิทยาลัยพายัพ', 'มหาวิทยาลัยพิษณุโลก',
       'มหาวิทยาลัยฟาฏอนี', 'มหาวิทยาลัยมหาสารคาม', 'มหาวิทยาลัยมหิดล',
       'มหาวิทยาลัยรังสิต', 'มหาวิทยาลัยรัตนบัณฑิต',
       'มหาวิทยาลัยราชพฤกษ์', 'มหาวิทยาลัยราชภัฎนครปฐม',
       'มหาวิทยาลัยราชภัฎมหาสารคาม', 'มหาวิทยาลัยราชภัฎสุรินทร์',
       'มหาวิทยาลัยราชภัฏกาญจนบุรี', 'มหาวิทยาลัยราชภัฏกำแพงเพชร',
       'มหาวิทยาลัยราชภัฏจันทรเกษม', 'มหาวิทยาลัยราชภัฏชัยภูมิ',
       'มหาวิทยาลัยราชภัฏธนบุรี', 'มหาวิทยาลัยราชภัฏนครราชสีมา',
       'มหาวิทยาลัยราชภัฏนครสวรรค์', 'มหาวิทยาลัยราชภัฏบุรีรัมย์',
       'มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา', 'มหาวิทยาลัยราชภัฏพระนคร',
       'มหาวิทยาลัยราชภัฏพระนครศรีอยุธยา', 'มหาวิทยาลัยราชภัฏพิบูลสงคราม',
       'มหาวิทยาลัยราชภัฏภูเก็ต', 'มหาวิทยาลัยราชภัฏราชนครินทร์',
       'มหาวิทยาลัยราชภัฏรำไพพรรณี', 'มหาวิทยาลัยราชภัฏลำปาง',
       'มหาวิทยาลัยราชภัฏวไลยอลงกรณ์', 'มหาวิทยาลัยราชภัฏศรีสะเกษ',
       'มหาวิทยาลัยราชภัฏสกลนคร', 'มหาวิทยาลัยราชภัฏสงขลา',
       'มหาวิทยาลัยราชภัฏสวนสุนันทา', 'มหาวิทยาลัยราชภัฏสุราษฎร์ธานี',
       'มหาวิทยาลัยราชภัฏหมู่บ้านจอมบึง', 'มหาวิทยาลัยราชภัฏอุดรธานี',
       'มหาวิทยาลัยราชภัฏอุตรดิตถ์', 'มหาวิทยาลัยราชภัฏอุบลราชธานี',
       'มหาวิทยาลัยราชภัฏเชียงราย', 'มหาวิทยาลัยราชภัฏเชียงใหม่',
       'มหาวิทยาลัยราชภัฏเทพสตรี', 'มหาวิทยาลัยราชภัฏเพชรบุรี',
       'มหาวิทยาลัยราชภัฏเพชรบูรณ์', 'มหาวิทยาลัยราชภัฏเลย',
       'มหาวิทยาลัยรามคำแหง', 'มหาวิทยาลัยวงษ์ชวลิตกุล',
       'มหาวิทยาลัยวลัยลักษณ์', 'มหาวิทยาลัยศรีนครินทรวิโรฒ',
       'มหาวิทยาลัยศรีปทุม', 'มหาวิทยาลัยศิลปากร',
       'มหาวิทยาลัยสงขลานครินทร์', 'มหาวิทยาลัยสยาม',
       'มหาวิทยาลัยสวนดุสิต', 'มหาวิทยาลัยสุโขทัยธรรมาธิราช',
       'มหาวิทยาลัยหอการค้าไทย', 'มหาวิทยาลัยหัวเฉียวเฉลิมพระเกียรติ',
       'มหาวิทยาลัยหาดใหญ่', 'มหาวิทยาลัยอัสสัมชัญ',
       'มหาวิทยาลัยอีสเทิร์นเอเชีย', 'มหาวิทยาลัยอุบลราชธานี',
       'มหาวิทยาลัยเกริก', 'มหาวิทยาลัยเกษตรศาสตร์',
       'มหาวิทยาลัยเกษมบัณฑิต', 'มหาวิทยาลัยเชียงใหม่',
       'มหาวิทยาลัยเซนต์จอห์น', 'มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี',
       'มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ',
       'มหาวิทยาลัยเทคโนโลยีมหานคร', 'มหาวิทยาลัยเทคโนโลยีราชมงคลกรุงเทพ',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลตะวันออก',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลพระนคร',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลรัตนโกสินทร์',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลสุวรรณภูมิ',
       'มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน', 'มหาวิทยาลัยเทคโนโลยีสุรนารี',
       'มหาวิทยาลัยเอเชียน', 'มหาวิทยาลัยเอเชียอาคเนย์',
       'มหาวิทยาลัยแม่ฟ้าหลวง', 'มหาวิทยาลัยแม่โจ้',
       'มหาวิยาลัยมหาสารคาม', 'รพ.กรุงเทพ',
       'วิทยาลัยนานาชาติมหาวิทยาลัย กรุงเทพ',
       'วิทยาลัยอาชีวศึกษาโปลีเทคนิคภาคตะวันออกเฉียงเหนือ',
       'วิทยาลัยเซนต์หลุยส์', 'สถาบันการจัดการปัญญาภิวัฒน์',
       'สถาบันบัณฑิตพัฒนบริหารศาสตร์', 'สถาบันพัฒนาบุคลากรท้องถิ่น',
       'สถาบันรัชต์ภาคย์', 'สถาบันวิชาการปัองกันประเทศ',
       'สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง',
       'สถาบันเทคโนโลยีแห่งเอเชีย', 'สถาบันเทคโนโลยีไทย-ญี่ปุ่น'],
      dtype=object)

In [11]:
np.unique(a['มหาวิทยาลัย'].values).shape

(119,)

In [13]:
unis = pd.DataFrame({'ชื่อ':np.unique(a['มหาวิทยาลัย'].values), 'ชื่ออังกฤษ':'', 'ชื่อย่อ':'', 'ชื่อย่ออังกฤษ':''})
unis.to_excel("res/universitylist.xlsx", index=None)